--
-- PostgreSQL database dump
--

\restrict 1PGfh4ItOa5qC4E8SnhMuQOuvVNTa86VcC2eLteE9d7egJiVvwqMi36xdVaF7kn

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: system_health_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_health_logs (
    id integer NOT NULL,
    service_name character varying(50) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.system_health_logs OWNER TO postgres;

--
-- Name: system_health_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.system_health_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_health_logs_id_seq OWNER TO postgres;

--
-- Name: system_health_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.system_health_logs_id_seq OWNED BY public.system_health_logs.id;


--
-- Name: system_health_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_health_logs ALTER COLUMN id SET DEFAULT nextval('public.system_health_logs_id_seq'::regclass);


--
-- Data for Name: system_health_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_health_logs (id, service_name, status, created_at) FROM stdin;
1	api	healthy	2026-08-15 10:57:19.565281
2	worker	running	2026-08-15 10:57:19.565281
3	database	connected	2026-08-15 10:57:19.565281
\.


--
-- Name: system_health_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.system_health_logs_id_seq', 3, true);


--
-- Name: system_health_logs system_health_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_health_logs
    ADD CONSTRAINT system_health_logs_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 1PGfh4ItOa5qC4E8SnhMuQOuvVNTa86VcC2eLteE9d7egJiVvwqMi36xdVaF7kn

